@model Fibro16Item

@{
    ViewData["Title"] = "Фибро (16мм)";
}

@{
    string ImageSource() => Model == null ? "" : $"/images/fibros16/{Model.ImagePath}";
    string ModelTitle() => Model == null ? "" : $"{Model.Title}";
    string ModelDesc() => Model == null ? "" : $"{Model.Description}";
}

<form class="form-frame" asp-controller="Admin" asp-action="ChangeFibros16" asp-antiforgery="true" method="post" enctype="multipart/form-data">
    <div>
        <div>
            <input type="hidden" value="@ViewBag.Id" asp-for="Id" />
            <input type="hidden" asp-for="ImagePath" />
        </div>
        <div>
            <label asp-for="Title">Введите наименование товара</label><br />
            <input asp-for="Title" id="title-input" />
        </div>
        <div>
            <label asp-for="Description">Введите описание товара</label><br />
            <textarea asp-for="Description" id="desc-input"></textarea>
        </div>
        <div>
            <label asp-for="LinkPath">Введите ссылку, если требуется</label><br />
            <input asp-for="LinkPath" />
        </div>
        <div>
            <input type="file" name="imageFile" accept="image/*" id="img-input" />
        </div>
    </div>
    <input type="submit" value="Сохранить" />
</form>
<div class="item-content siding-item item-content-admin">
    <div class="item-title" id="title-preview">@ModelTitle()</div>
    <table class="item-table">
        <tr>
            <td>
                <img src="@ImageSource()" id="img-preview" />
            </td>
        </tr>
        <tr>
            <td class="item-desc" id="desc-preview">
                @ModelDesc()
            </td>
        </tr>
    </table>
</div>
<script src="~/js/imagePreviewScript.js" asp-append-version="true"></script>