<header id="layout-header">
    <div class="yukiko-title">
        <a href="~/">YUKIKO CENTER</a>
    </div>
    <div class="yukiko-header-info">
        <p>Телефон: (383)205-20-18</p>
        <p>Почта: fineconsk@@gmail.com</p>
        <p class="yukiko-header-info-address">
            <span>Адрес: </span>
            <a href="~/map">г. Новосибирск,<br>пр.Карла Маркса 57, офис 804</a>
        </p>
        <p style="margin-bottom: 0px">
            <span>Инстаграм: </span>
            <a href="https://www.instagram.com/yukikocenter/">yukikocenter</a>
        </p>
    </div>
    <div class="ul-nav-wrapper">
        <ul>
            <li><a href="~/siding">Металлосайдинг</a></li>
            <li><a href="~/gloves">Перчатки</a></li>
            <li><a href="~/ventilation">Вентиляция</a></li>
            <li><a href="~/others">Разное</a></li>
            <li><a href="~/gallery">Галерея</a></li>
            <li><a href="~/news">Новости</a></li>
        </ul>
    </div>
</header>