@{
    ViewData["Title"] = "О металлосайдинге";
}

<div class="second-info">
    <h1>
        ПРЕИМУЩЕСТВА МЕТАЛЛОСАЙДИНГА NIPPON STEEL
    </h1>
    <div class="second-info-text">
        <p><span class="bold">Креативность.</span> Разнообразие текстур и цветовых вариаций помогут создать уникальный образ дома.</p>
        <p><span class="bold">Теплоизоляция.</span> В качестве уплотнителя используется твёрдый пенопласт, который обладает низкой теплопроводностью и способствует сохранению прохлады летом и тепла зимой.</p>
        <p><span class="bold">Звукоизоляция.</span> Твёрдый пенопласт имеет пористую структуру, частично поглощающую звук. Благодаря этому в доме снижается уровень посторонних раздражающих шумов от проезжающих автомобилей и т. п.</p>
        <div class="about-company-img">
            <img src="~/images/aboutSiding1.jpg" />
        </div>
        <p><span class="bold">Прочность и надёжность.</span> Металлосайдинг имеет лёгкую конструкцию и хорошо переносит тряску, удары и падение. В отличие от фиброцементного сайдинга здесь невозможно возникновение сколов и трещин.</p>
        <p><span class="bold">Простота монтажа.</span> Металлосайдинг лёгкий по весу, а его поверхность не требует покраски и другой обработки и является самоочищающимся. Его можно монтировать на рейку или брусок.</p>
        <p><span class="bold">Долговечность</span> В основе материала — лист из алюминиевого сплава, верхний слой — краска из полиэфирной смолы, которая дважды наносится и подвергается термообработке, благодаря чему поверхность приобретает исключительную износостойкость. Коррозионная стойкость металла и долговечность краски обеспечивает целостность материала на срок до 25 лет и делают его пригодным к использованию в районах с агрессивной средой.</p>
        <p><span class="bold">Устойчивость к коррозии.</span> Лист из алюминиевого сплава с покрытием из полиэфирных смол обладает повышенной коррозионной стойкостью.</p>
        <p><span class="bold">Экономичность.</span> Простота монтажа позволяет значительно сэкономить рабочую силу и сократить сроки строительства. Благодаря полиэфирному покрытию, к покрытию сайдинга не пристаёт пыль, а любое загрязнение легко смывается водой. В отличие от окрашенных стен, исключается отслаивание или растрескивание. Дом сохранит привлекательный вид и не потребует повторного ремонта на долгие годы.</p>
        <div class="about-company-img">
            <img src="~/images/aboutSiding2.jpg" />
        </div>
    </div>
</div>