@{
    ViewData["Title"] = "О компании";
}

<div class="second-info">
    <h1>О компании</h1>
    <div class="second-images">
        <img src="~/images/yukikoMain.png" />
    </div>
    <div class="second-info-text">
        YUKIKO CENTER является обособленным подразделением промышленно-инвестиционной корпорации “ФИНЭКО” (г.Южно-Сахалинск). Корпорация "ФИНЭКО" создана в 1993 году. В состав промышленно-инвестиционной корпорации входят предприятия, фирмы и компании строительной отрасли, сферы услуг и другие. За годы своей деятельности корпорация "ФИНЭКО" добилась авторитета и признания как надежный и выгодный партнер.
        <a href="http://www.pic-fineco.ru/" target="_blank">Подробнее о "ФИНЭКО".</a>
    </div>
</div>