@model IEnumerable<GalleryItem>

@{
    ViewData["Title"] = "Галерея";
}

<div class="second-info second-info-lone">
    <h1 class="others-title">Галерея</h1>
</div>
<div class="items-container-content">
    @foreach (var item in Model) {
        <div class="item-content gallery-item">
            <table class="item-table">
                <tr>
                    <td>
                        <img src="~/images/gallery/@item.ImagePath"
                             onclick="enlargeImg(this, 3.3)" />
                    </td>
                </tr>
                <tr>
                    <td class="item-desc">
                        @item.Description
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
@await Html.PartialAsync("Partials/PaginatorPartial", new PaginatorViewModel(ViewBag.pageSize, ViewBag.currentPage, ViewBag.totalCount, ViewBag.mapPath))
<script src="~/js/enlargeScript.js" asp-append-version="true"></script>