@{
    ViewData["Title"] = "Главная";
}

<a href="~/sidingall" class="a-section">
    <div class="main-info main-info-siding" style="background-image: url(/images/sidingMain.jpg)">
        <div class="main-title">
            <h1>YUKIKO</h1>
            <h2>МЕТАЛЛОСАЙДИНГ</h2>
        </div>
    </div>
</a>
<div class="main-subinfo">
    <p>Yukiko Center предлагает широкий ассортимент высококачественного металлосайдинга из Японии.</p>
    <p>Антикоррозийные термопанели с длительным сроком службы.</p>
</div>

<a href="~/fibrosall" class="a-section">
    <div class="main-info main-info-siding" style="background-image: url(/images/fibrosMain.jpg)">
        <div class="main-title">
            <h1>YUKIKO</h1>
            <h2>ФИБРОЦЕМЕНТНЫЕ ПАНЕЛИ</h2>
        </div>
    </div>
</a>
<div class="main-subinfo">
    <p>Yukiko Center является представителем ведущего производителя фиброцементного сайдинга в Японии - NICHIHA.</p>
    <p>Морозоустойчивость, прочность, большой выбор различных фактур и цветов.</p>
</div>

<a href="~/gloves" class="a-section">
    <div class="main-info" style="background-image: url(/images/glovesMain.jpg)">
        <div class="main-title">
            <h1>YUKIKO</h1>
            <h2>ЗАЩИТНЫЕ ПЕРЧАТКИ</h2>
        </div>
    </div>
</a>
<div class="main-subinfo">
    <p>Yukiko Center - представитель AOI WORKS, предлагающий средства индивидуальной защиты рук.</p>
    <p>Особо прочные перчатки по японским технологиям.</p>
</div>

<a href="~/ventilation" class="a-section">
    <div class="main-info" style="background-image: url(/images/ventilationMain.jpg)">
        <div class="main-title">
            <h1>YUKIKO</h1>
            <h2>ВЕНТИЛЯЦИЯ</h2>
        </div>
    </div>
</a>
<div class="main-subinfo">
    <p>Yukiko Center предлагает систему круглосуточной вентиляции NASTA-24.</p>
</div>

<a href="~/others" class="a-section">
    <div class="main-info main-info-others" style="background-image: url(/images/othersMain.jpg)">
        <div class="main-title">
            <h1>YUKIKO</h1>
            <h2>РАЗНЫЕ ТОВАРЫ ИЗ ЯПОНИИ</h2>
        </div>
    </div>
</a>
<div class="main-subinfo">
    <p>Yukiko Center предлагает большой выбор различных товаров высокого качества для частного дома.</p>
</div>

<a href="~/company" class="a-section">
    <div class="main-info" style="background-color:var(--main-color)">
        <div class="main-subinfo">
            <p>О компании Yukiko Center.</p>
        </div>
        <img class="main-company-img" src="~/images/yukikoMain.png" />
    </div>
</a>