@{
    ViewData["Title"] = "Главная";
}

<a href="~/siding" class="a-section">
    <div class="main-info main-info-siding" style="background-image: url(/images/sidingMain.jpg)">
        <div class="main-title">
            <h1>YUKIKO</h1>
            <h2>МЕТАЛЛОСАЙДИНГ</h2>
        </div>
    </div>
</a>
<div class="main-subinfo">
    <p style="margin-bottom: 10px">Yukiko Center предлагает широкий ассортимент высококачественного металлосайдинга из Японии.</p>
    <p>Длительный срок службы, функциональность и дизайн.</p>
</div>

<a href="~/gloves" class="a-section">
    <div class="main-info" style="background-image: url(/images/glovesMain.jpg)">
        <div class="main-title">
            <h1>YUKIKO</h1>
            <h2>ЗАЩИТНЫЕ ПЕРЧАТКИ</h2>
        </div>
    </div>
</a>
<div class="main-subinfo">
    <p style="margin-bottom: 10px">Yukiko Center - представитель AOI WORKS, предлагающий средства индивидуальной защиты рук.</p>
    <p>Особо прочные перчатки по японским технологиям.</p>
</div>

<a href="~/ventilation" class="a-section">
    <div class="main-info" style="background-image: url(/images/ventilationMain.jpg)">
        <div class="main-title">
            <h1>YUKIKO</h1>
            <h2>ВЕНТИЛЯЦИЯ</h2>
        </div>
    </div>
</a>
<div class="main-subinfo">
    <p style="margin-bottom: 10px">Yukiko Center предлагает систему круглосуточной вентиляции NASTA-24.</p>
</div>

<a href="~/others" class="a-section">
    <div class="main-info main-info-others" style="background-image: url(/images/othersMain.jpg)">
        <div class="main-title">
            <h1>YUKIKO</h1>
            <h2>РАЗНЫЕ ТОВАРЫ ИЗ ЯПОНИИ</h2>
        </div>
    </div>
</a>
<div class="main-subinfo">
    <p style="margin-bottom: 10px">Yukiko Center предлагает большой выбор различных товаров высокого качества для частного дома.</p>
</div>