@model NewsItem

@{
    ViewData["Title"] = $"{Model.Title}";

    List<string> ImageExtensions = new List<string> { ".JPG", ".JPE", ".BMP", ".GIF", ".PNG" };
    string folderPath = $"/images/news/{Model.Id}";
}

<div class="second-info">
    <div class="news-content-header">
        <h1>@Model.Title</h1>
        <div class="news-image-block">
            <img src="@folderPath/@Model.TitleImagePath"
                 onclick="enlargeImg(this)" />
        </div>
        <div class="news-desc">
            @Model.Description
        </div>
    </div>
    <div class="news-content-items">
        @foreach (var item in Model.NewsContentItems) {
            if (ImageExtensions.Contains(System.IO.Path.GetExtension(item.ItemPath.ToUpperInvariant()))) {
                <img src="@folderPath/@item.ItemPath"
                     onclick="enlargeImg(this)" />
            }
            else { 
                <video controls>
                    <source src="@folderPath/@item.ItemPath" />
                </video>
            }
        }
    </div>
</div>
<script src="~/js/enlargeScript.js" asp-append-version="true"></script>