@model IEnumerable<OthersItem>

@{
    ViewData["Title"] = "Прочее";

    int num = 1;

    string NumTitle(IModelItem item) => $"{num++ + ViewBag.pageSize * (ViewBag.currentPage - 1)}. {item.Title}";
}

<div class="second-info second-info-lone">
    <h1 class="others-title">Разные товары из Японии</h1>
</div>
<div class="items-container-content">
    @foreach (var item in Model) {
        <div class="item-content others-item">
            <div class="item-title">
                @if (item.LinkPath == null) {
                    <label>@NumTitle(item)</label>
                }
                else { 
                    <a href="@item.LinkPath" target="_blank">@NumTitle(item)</a>
                }
            </div>
            <table class="item-table">
                <tr>
                    <td>
                        <img src="~/images/others/@item.ImagePath"
                             onclick="enlargeImg(this, 5)" />
                    </td>
                    <td class="item-desc">
                        @item.Description
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
@await Html.PartialAsync("Partials/PaginatorPartial", new PaginatorViewModel(ViewBag.pageSize, ViewBag.currentPage, ViewBag.totalCount, ViewBag.mapPath))
<script src="~/js/enlargeScript.js" asp-append-version="true"></script>