@model IEnumerable<VentilationItem>

@{ 
    ViewData["Title"] = "Вентиляция";
}

<div class="second-info">
    <h1>Вентиляция NASTA</h1>
    <div class="second-info-text">
        Система NASTA-24 и её отдельные элементы разрабатывались с целью обеспечить комфортное проживание в доме, препятствуя возникновению плесени от повышенной влажности и конденсата. NASTA - один из ведущих производителей в области вентиляции. Данную продукцию отличает лаконичный дизайн, качественные материалы (нержавеющая сталь, алюминий, пластик). Отлично вписывается в различные интерьеры квартир и домов, а также стильно выглядит на фасадах зданий.
    </div>
    <div class="second-images">
        <img src="~/images/ventilationSecond1.jpg" />
        <img src="~/images/ventilationSecond2.jpg" />
        <img src="~/images/ventilationSecond3.jpg" />
    </div>
</div>
<div class="items-container-content">
    @foreach (var item in Model) {
        <div class="item-content ventilation-item">
            <div class="item-title">@item.Title</div>
            <table class="item-table">
                <tr>
                    <td>
                        <img src="~/images/ventilation/@item.ImagePath" />
                    </td>
                    <td class="item-desc">
                        @item.Description
                    </td>
                </tr>
            </table>
        </div>
    }
</div>