@{
    ViewData["Title"] = "Фиброцементный сайдинг";
}

<div class="second-info">
    <h1>Фиброцементные панели NICHIHA</h1>
    <div class="second-info-text">
        NICHIHA — пример морозоустойчивости, стабильности размеров, прочности и долговечности. Панели не теряют цвет в течение 15-30 лет: специальное покрытие устойчиво к атмосферным воздействиям.
        Более подробно ознакомиться с преимуществами фиброцементных панелей NICHIHA <a href="http://www.pic-fineco.ru/index.php?page=Nichiha">можно здесь.</a>
    </div>
    <div class="second-images">
        <img src="~/images/fibrosSecond1.jpg" />
        <img src="~/images/fibrosSecond2.jpg" />
        <img src="~/images/fibrosSecond3.jpg" />
    </div>
</div>

<a href="~/fibros14" class="a-section">
    <div class="main-info main-info-siding" style="background-image: url(/images/fibrosMain.jpg)">
        <div class="main-title">
            <h1>YUKIKO</h1>
            <h2>ФИБРОЦЕМЕНТНЫЕ ПАНЕЛИ 14мм</h2>
        </div>
    </div>
</a>

<a href="~/fibros16" class="a-section">
    <div class="main-info main-info-siding" style="background-image: url(/images/fibrosMain.jpg)">
        <div class="main-title">
            <h1>YUKIKO</h1>
            <h2>ФИБРОЦЕМЕНТНЫЕ ПАНЕЛИ 16мм</h2>
        </div>
    </div>
</a>

<a href="~/fibroscomplect" class="a-section">
    <div class="main-info main-info-siding" style="background-image: url(/images/fibrosMain.jpg)">
        <div class="main-title">
            <h1>YUKIKO</h1>
            <h2>КОМПЛЕКТУЮЩИЕ</h2>
        </div>
    </div>
</a>