@{
    ViewData["Title"] = "Сайдинг";
}

<div class="second-info">
    <h1>Металлосайдинг NIPPON STEEL</h1>
    <div class="second-info-text">
        В основе материала - лист гальванизированной стали “Galvastar”, включающий в себя 55-процентный алюминиевый сплав. Верхний слой - краска из полиэфирной смолы, которая наносится дважды и подвергается термической обработке, благодаря чему поверхность приобретает исключительную износостойкость. Коррозионная стойкость металла и долговечность краски обеспечивает целостность материала на срок до 25 лет и делают его пригодным к использованию в районах с агрессивной внешней средой (морское побережье, промышленные зоны и т.п.).
        Более подробно ознакомиться с преимуществами металлосайдинга NIPPON STEEL <a href="/aboutsiding">можно здесь.</a>
    </div>
    <div class="second-images">
        <img src="~/images/sidingSecond1.jpg" />
        <img src="~/images/sidingSecond2.jpg" />
        <img src="~/images/sidingSecond3.jpg" />
    </div>
</div>

<a href="~/siding" class="a-section">
    <div class="main-info main-info-siding" style="background-color:var(--main-color)">
        <div class="main-title subcategory-title">
            <h2>NIPPON STEEL</h2>
            <h3>Каталог товара</h3>
        </div>
    </div>
</a>

<a href="~/sidingcomplect" class="a-section">
    <div class="main-info main-info-siding" style="background-color:var(--main-color)">
        <div class="main-title subcategory-title">
            <h2>КОМПЛЕКТУЮЩИЕ</h2>
            <h3>Каталог товара</h3>
        </div>
    </div>
</a>