@{
    ViewData["Title"] = "Контент для изменений";
}

<div class="a-button-wrapper">
    <a href="/sidingtochange">Изменить сайдинг</a>
</div>
<div class="a-button-wrapper">
    <a href="/sidingcomplecttochange">Изменить комплектующие (сайдинг)</a>
</div>
<div class="a-button-wrapper">
    <a href="/fibros14tochange">Изменить фибро (14мм)</a>
</div>
<div class="a-button-wrapper">
    <a href="/fibros16tochange">Изменить фибро (16мм)</a>
</div>
<div class="a-button-wrapper">
    <a href="/fibroscomplecttochange">Изменить комплектующие (фибро)</a>
</div>
<div class="a-button-wrapper">
    <a href="/glovestochange">Изменить перчатки</a>
</div>
<div class="a-button-wrapper">
    <a href="/ventilationtochange">Изменить вентиляцию</a>
</div>
<div class="a-button-wrapper">
    <a href="/otherstochange">Изменить<br /> прочее</a>
</div>
<div class="a-button-wrapper">
    <a href="/gallerytochange">Изменить галерею</a>
</div>
<div class="a-button-wrapper">
    <a href="/newstochange">Изменить новости</a>
</div>