@model IEnumerable<GalleryItem>

@{
    ViewData["Title"] = "Галерея";
}

<div class="a-button-wrapper">
    <a href="/choosecontent">К выбору категории</a>
</div>
<div class="a-button-wrapper">
    <a href="/changegallery">Добавить элемент</a>
</div>
<div class="items-container-content">
    @foreach (var item in Model) {
        <div class="item-content">
            <div class="gallery-item">
                <table class="item-table">
                    <tr>
                        <td>
                            <img src="~/images/gallery/@item.ImagePath" />
                        </td>
                    </tr>
                    <tr>
                        <td class="item-desc">
                            @item.Description
                        </td>
                    </tr>
                </table>
            </div>
            <div class="a-button-wrapper">
                <a href="/changegallery?id=@item.Id">Изменить</a>
            </div>
            <div class="a-button-wrapper">
                <a href="/deletegallery?id=@item.Id">Удалить</a>
            </div>
        </div>
    }
</div>