@model IEnumerable<OthersItem>

@{
    ViewData["Title"] = "Прочее";
}

<div class="a-button-wrapper">
    <a href="/choosecontent">К выбору категории</a>
</div>
<div class="a-button-wrapper">
    <a href="/changeothers">Добавить<br /> прочее</a>
</div>
<div class="items-container-content">
    @foreach (var item in Model) {
        <div class="item-content">
            <div class="others-item">
                <div class="item-title">
                    @if (item.LinkPath == null) {
                        @item.Title
                    }
                    else { 
                        <a href="@item.LinkPath">@item.Title</a>
                    }
                </div>
                <table class="item-table">
                    <tr>
                        <td>
                            <img src="~/images/others/@item.ImagePath" />
                        </td>
                        <td class="item-desc">
                            @item.Description
                        </td>
                    </tr>
                </table>
            </div>
            <div class="a-button-wrapper">
                <a href="/changeothers?id=@item.Id">Изменить</a>
            </div>
            <div class="a-button-wrapper">
                <a href="/deleteothers?id=@item.Id">Удалить</a>
            </div>
        </div>
    }
</div>
@await Html.PartialAsync("Partials/PaginatorPartial", new PaginatorViewModel(ViewBag.pageSize, ViewBag.currentPage, ViewBag.totalCount, ViewBag.mapPath))