@model IEnumerable<VentilationItem>

@{
    ViewData["Title"] = "Вентиляция";
}

<div class="a-button-wrapper">
    <a href="/choosecontent">К выбору категории</a>
</div>
<div class="a-button-wrapper">
    <a href="/changeventilation">Добавить вентиляцию</a>
</div>
<div class="items-container-content">
    @foreach (var item in Model) {
        <div class="item-content">
            <div class="ventilation-item">
                <div class="item-title">@item.Title</div>
                <table class="item-table">
                    <tr>
                        <td>
                            <img src="~/images/ventilation/@item.ImagePath" />
                        </td>
                        <td class="item-desc">
                            @item.Description
                        </td>
                    </tr>
                </table>
            </div>
            <div class="a-button-wrapper">
                <a href="/changeventilation?id=@item.Id">Изменить</a>
            </div>
            <div class="a-button-wrapper">
                <a href="/deleteventilation?id=@item.Id">Удалить</a>
            </div>
        </div>
    }
</div>